#mycanvas {
  border: 1px solid black;
  background: lightgrey;
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0
}

#controls {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  /* display:none; */
}

.threeitems {
  display: grid;
  grid-template-columns: 150px 200px 50px;
}